<%
$block_indent = '    '

def render_item(key, value, indent)
    return Array(value).map {|v| "#{indent}#{key} #{v};"}
end

def render_types(items, indent)
    block_indent = indent + $block_indent
    output = []
    output.push("#{indent}types")
    output.push("#{block_indent}{")
    items.each_pair do |key, value|
        output.concat(render_item(key, value, block_indent))
    end
    return output.push("#{block_indent}}")
end

def render_upstream(name, items, indent)
    block_indent = indent + $block_indent
    output = []
    output.push("#{indent}#{name}")
    output.push("#{block_indent}{")
    items.each_pair do |key, value|
        output.concat(render_item(key, value, block_indent))
    end
    return output.push("#{block_indent}}")
end

def render_location(name, items, indent)
    block_indent = indent + $block_indent
    output = []
    output.push("#{indent}#{name}")
    output.push("#{block_indent}{")
    items.each_pair do |key, value|
        if key.start_with?("location")
            output.concat(render_location(key, value, block_indent))
        elsif key == 'types'
            output.concat(render_types(value, block_indent))
        else
            output.concat(render_item(key, value, block_indent))
        end
    end
    return output.push("#{block_indent}}")
end

def render_server(items, indent)
    block_indent = indent + $block_indent
    output = []
    items.each do |server|
        output.push("#{indent}server")
        output.push("#{block_indent}{")
        server.each_pair do |key, value|
            if key.start_with?("location")
                output.concat(render_location(key, value, block_indent))
            elsif key == 'types'
                output.concat(render_types(value, block_indent))
            else
                 output.concat(render_item(key, value, block_indent))
            end
        end
        output.push("#{block_indent}}")
    end
    return output

end

def render_map(name, items, indent)
    block_indent = indent + $block_indent
    output = []
    output.push("#{indent}#{name}")
    output.push("#{block_indent}{")
    items.each_pair do |key, value|
        output.concat(render_item(key, value, block_indent))
    end
    return output.push("#{block_indent}}")
end

def render_http(items, indent)
    block_indent = indent + $block_indent
    output = []
    output.push("http")
    output.push("#{block_indent}{")
    items.each_pair do |key, value|
        if key == 'server'
            output.concat(render_server(value, block_indent))
        elsif key == 'types'
            output.concat(render_types(value, block_indent))
        elsif key.start_with?("upstream")
            output.concat(render_upstream(key, value, block_indent))
        elsif key.start_with?("map")
            output.concat(render_map(key, value, block_indent))
        else
            output.concat(render_item(key, value, block_indent))
        end
    end
    return output.push("#{block_indent}}")
end

def render_events(items, indent)
    output = []
    output.push("events")
    block_indent = indent + $block_indent
    output.push("#{block_indent}{")
    items.each_pair do |key, value|
        output.concat(render_item(key, value, block_indent))
    end
    return output.push "#{block_indent}}"
end

def render_main(items)
    indent = ''
    output = []
    items.each_pair do |key, value|
        if key == 'events'
            output.concat(render_events(value, indent))
        elsif key == 'http'
            output.concat(render_http(value, indent))
        else
            output.concat(render_item(key, value, indent))
        end
    end
    return output.join("\n")
end
-%>
<%= render_main(@conf) %>
