location <%= @location %>
    {
    <% unless @location.nil? %>root <%= @location %>;<% end -%>
    <% unless @index.nil? %>index <%= @index %>;<% end -%>
    <% unless @default_type.nil? %>default_type <%= @default_type -%>;<% end -%>
    <% unless @auth_basic.nil? %>auth_basic <%= @auth_basic -%>;<% end %>
    <% unless @auth_basic_user_file.nil? %>auth_basic_user_file <%= @auth_basic_user_file -%>;<% end -%>
    <% unless @proxy_pass.nil? %>proxy_pass <%= @proxy_pass %>;<% end -%>
    <% @proxy_set_header.each_pair do |proxy_set_header_key, proxy_set_headervalue| %>
    proxy_set_header <%= proxy_set_header_key %> <%= proxy_set_headervalue %>;<% end %>
    <% unless @return_value.nil? %>return <%= @return_value %>;<% end -%>
    }
